.grocery-img-wrapper {
  cursor: pointer;
  border-radius: 18px;
  background: white;
  padding: 12px;
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.grocery-img-wrapper:hover {
  transform: translateY(-4px) scale(1.03);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* IMAGE FULL SIZE */
.grocery-sub-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

/* FALLBACK ICON STYLE */
.fallback-icon svg {
  font-size: 50px;
  color: #ff8c42;
}

/* MOBILE RESPONSIVE HEIGHT */
@media (max-width: 768px) {
  .grocery-img-wrapper {
    height: 120px;
  }
}
.grocery-title{
  color: #031576;
  font-weight: 700;
}