@import "leaflet/dist/leaflet.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#google_translate_element {
  height: 0 !important;
  overflow: hidden !important;
}

#react-root {
  isolation: isolate;     
  position: relative;
  z-index: 0;
}

button, input, textarea, select {
  all: revert !important;       
  unicode-bidi: plaintext !important;
}

.goog-text-highlight {
  background: transparent !important;
  box-shadow: none !important;
}

.goog-te-banner-frame {
  display: none !important;
}
body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}
.goog-te-gadget-simple {
  display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame,
.goog-te-menu-frame {
  display: none !important;
}

#translate-root * {
  unicode-bidi: plaintext !important;
  isolation: isolate !important;
}

.goog-text-highlight,
.goog-te-gadget-simple,
.goog-te-banner-frame,
.goog-te-balloon-frame {
  display: none !important;
  background: none !important;
  box-shadow: none !important;
}

button, a, input, textarea, select, svg, span[role="img"] {
  translate: no !important;
}

body {
  top: 0 !important;
}
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
iframe.goog-te-banner-frame {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
  border: none !important;
}

.goog-te-banner {
  display: none !important;
}

body {
  top: 0px !important ;
}
